    <div class='user-panel'>
      <div class='user-info'>
        <div class='image-container'>
          <div class='user-image' />
        </div>
        <div class='user-name'>Sandra Johnson</div>
      </div>
  
      <dx-context-menu
        v-if="menuMode === 'context'"
        target='.user-button'
        :items='menuItems'
        :width='170'
        :position='menuPositionConfig'
        show-event='dxclick'
        css-class='user-menu'
      />
  
      <dx-list
        v-if="menuMode === 'list'"
        class='dx-toolbar-menu-action'
        :items='menuItems'
      />
    </div>